{% extends "base.html" %}
{% block content %}

<title>edit task</title>
</br>
<div class="container-fluid"><b><h2>Edit task</b></h2></div>
</br>
<div class="container-fluid" style="background-color: aliceblue"><h4>
    </br><b> {{ task.task_name }}</b></br></br>
</h4></div>
</br>

</br>


<form class="col-sm-6" action="" method="post">
{% csrf_token %}
{{ form.as_p }} <input  type="hidden" class="col-sm-6" type="submit" name="edittask" value="EDIT">
   <button class="btn btn-outline-light btn-sm px-5" type="submit" name="edittask"> EDIT </button>
</form>

{% endblock %}